<section class="auth">
  <div class="mt-4 me-4">
    <h4 class="">Reset password</h4>
    <div></div>
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPassword()"
      class="my-3"
    >
      <!-- Email input -->
      <label for="email">Your email address</label>
      <div class="input-group my-2 mb-4 text-white">
                 <span
            class="input-group-text bg-transparent text-white border-3"
            id="basic-addon1"
          >
            <i class="fa fa-envelope"></i>
          </span>
        <input
          type="email"
          class="form-control bg-transparent text-white border-3"
          placeholder="Type your email"
          aria-label="email"
          aria-describedby="basic-addon1"
          id="email"
          formControlName="email"
        />
      </div>
      <!-- Email validation -->
      <div
      class="invalid"
        *ngIf="
          resetPasswordForm.get('email')?.errors &&
          (resetPasswordForm.get('email')?.touched ||
            resetPasswordForm.get('email')?.value.length > 0)
        "
      >
        <p class="text-danger" *ngIf="resetPasswordForm.get('email')?.getError('required')">
          Email is required
        </p>
        <p class="text-danger" *ngIf="resetPasswordForm.get('email')?.getError('email')">
          Invalid email
        </p>
      </div>
      <!-- OTP input -->
      <label for="" id="otp">OTP</label>
      <div class="input-group my-2 mb-4 text-white">
        <span class="input-group-text bg-transparent text-white border-3">
          <i class="fa fa-envelope"></i>
        </span>
        <input
          type="text"
          class="form-control bg-transparent text-white text border-3"
          placeholder="Choose your otp"
          aria-label="otp"
          aria-describedby="basic-addon1"
          id="otp"
          formControlName="otp"
        />
      </div>
      <!-- OTP validation -->
      <div
        class="invalid"
        *ngIf="
          resetPasswordForm.get('otp')?.errors &&
          (resetPasswordForm.get('otp')?.touched ||
            resetPasswordForm.get('otp')?.value.length > 0)
        "
      >
        <p class="text-danger" *ngIf="resetPasswordForm.get('otp')?.getError('required')">
          OTP is required
        </p>
      </div>
      <!-- Password Input -->
      <label for="password">Password</label>
      <div class="input-group my-2 mb-4 text-white">
        <span
          class="input-group-text bg-transparent text-white border-3"

          ><i class="fa-solid fa-key"></i></span>
        <input
        [type]="hidePassword ? 'password' : 'text'"
          class="form-control bg-transparent text-white border-3"
          placeholder="Type your password"
          aria-label="password"
          aria-describedby="basic-addon1"
          id="password"
          formControlName="password"
        />
        <span
            class="input-group-text bg-transparent text-white border-3"
            id="basic-addon1"
          >
            <i
              (click)="hidePassword = !hidePassword"
              class="fa-regular"
              [class]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
            ></i>
          </span>
      </div>
      <div
        class="invalid"
        *ngIf="
          resetPasswordForm.get('password')?.errors &&
          (resetPasswordForm.get('password')?.touched ||
            resetPasswordForm.get('password')?.value.length > 0)
        "
      >
        <p class="text-danger" *ngIf="resetPasswordForm.get('password')?.getError('required')">
          Password is required
        </p>
        <p class="text-danger" *ngIf="resetPasswordForm.get('password')?.getError('pattern')">
          Password must contain at least one digit, one lowercase letter,one
          uppercase letter, one special character, and is at least 6 characters
          long.
        </p>
      </div>
      <button class="white fw-bold my-3">
        Reset
        <span class="icon-circle mx-1"
          ><i class="fa-solid fa-check p-1"></i
        ></span>
      </button>
      <!-- Error Message -->
      <div class="m-1 valided">
        <p class="mb-0" *ngIf="errMessage">
          <i class="fa-solid fa-triangle-exclamation"></i> {{ errMessage }}
        </p>

      </div>
    </form>
  </div>
</section>
