=>
<section class="auth">
  <div class="mt-4 me-4">
    <h4 class="">Reset password</h4>
    <div></div>
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPassword()"
      class="my-3"
    >
      <!-- Email input -->
      <label for="email">Your email address</label>
      <div class="input-group my-2 mb-4 text-white">
        <span
          class="input-group-text bg-transparent text-white"
          id="basic-addon1"
        >
          <i class="fa fa-envelope"></i>
        </span>
        <input
          type="email"
          class="form-control bg-transparent text-white"
          placeholder="Type your email"
          aria-label="email"
          aria-describedby="basic-addon1"
          id="email"
          formControlName="email"
        />
      </div>
      <!-- Email validation -->
      <div
        class="mx-1 valided"
        *ngIf="
          resetPasswordForm.get('email')?.errors &&
          (resetPasswordForm.get('email')?.touched ||
            resetPasswordForm.get('email')?.value.length > 0)
        "
      >
        <p *ngIf="resetPasswordForm.get('email')?.getError('required')">
          <i class="fa-solid fa-triangle-exclamation me-1"></i>
          Email is Required
        </p>
        <p *ngIf="resetPasswordForm.get('email')?.getError('email')">
          <i class="fa-solid fa-triangle-exclamation"></i>
          InValid Email
        </p>
      </div>
      <!-- OTP input -->
      <label for="" id="otp">OTP</label>
      <div class="input-group my-2 mb-4 text-white">
        <span class="input-group-text bg-transparent text-white">
          <i class="fa fa-envelope"></i>
        </span>
        <input
          type="text"
          class="form-control bg-transparent text-white text"
          placeholder="Choose your otp"
          aria-label="otp"
          aria-describedby="basic-addon1"
          id="otp"
          formControlName="otp"
        />
      </div>
      <!-- OTP validation -->
      <div
        class="mx-1 valided"
        *ngIf="
          resetPasswordForm.get('otp')?.errors &&
          (resetPasswordForm.get('otp')?.touched ||
            resetPasswordForm.get('otp')?.value.length > 0)
        "
      >
        <p *ngIf="resetPasswordForm.get('otp')?.getError('required')">
          <i class="fa-solid fa-triangle-exclamation me-1"></i>
          OTP is Required
        </p>
      </div>
      <!-- Password Input -->
      <label for="password">Password</label>
      <div class="input-group my-2 mb-4 text-white">
        <span
          class="input-group-text bg-transparent text-white"
          id="basic-addon1"
          ><i class="fa-solid fa-key"></i
        ></span>
        <input
          type="password"
          class="form-control bg-transparent text-white"
          placeholder="Type your password"
          aria-label="password"
          aria-describedby="basic-addon1"
          id="password"
          formControlName="password"
        />
      </div>
      <div
        class="mx-1 valided"
        *ngIf="
          resetPasswordForm.get('password')?.errors &&
          (resetPasswordForm.get('password')?.touched ||
            resetPasswordForm.get('password')?.value.length > 0)
        "
      >
        <p *ngIf="resetPasswordForm.get('password')?.getError('required')">
          <i class="fa-solid fa-triangle-exclamation"></i>
          password is Required
        </p>
        <p *ngIf="resetPasswordForm.get('password')?.getError('pattern')">
          <i class="fa-solid fa-triangle-exclamation"></i>
          Password must contain at least one digit,one lowercase letter,one
          uppercase letter,one special character, and is at least 6 characters
          long.
        </p>
      </div>
      <button class="white fw-bold my-3">
        Reset
        <span class="icon-circle mx-1"
          ><i class="fa-solid fa-check p-1"></i
        ></span>
      </button>
      <!-- Error Message -->
      <div class="m-1 valided">
        <p class="mb-0" *ngIf="errMessage">
          <i class="fa-solid fa-triangle-exclamation"></i> {{ errMessage }}
        </p>

      </div>
    </form>
  </div>
</section>