<section id="sidebar" class="bg-white position-fixed top-0 z-2 h-100">
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-center align-items-center logo-icon">
          <img (click)="isOpened = !isOpened" src="../../../../assets/images/menu-btn.svg" class="mx-1">
          <img class="px-2" src="../../../../assets/images/Logo-black.svg" *ngIf="isOpened">
      </div>

      <div class="side-links">
        <ul class="ps-0 list-unstyled">
          <ng-container *ngFor="let item of menu">
            <li *ngIf="item.isActive" class="list">
                <img [src]="item.icon" class="dark-color rounded-2 main-color p-2">
              <a
                [routerLink]="item.link"
                routerLinkActive="active-ul"
                class="text-decoration-none dark-color"
              >
                <span class="ms-2" [class]="isOpened ? '' : 'd-none'">{{
                  item.text
                }}</span>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</section>
