<div class="all m-3 p-3 my-4 brd rounded-3">
  <div class="d-flex align-items-center justify-content-between">
    <h2 class="my-3 fw-bold">Bank of questions</h2>
    <button
      class="quiz-outline fw-bold d-flex justify-content-center align-items-center me-3 gap-1 m-3"
      (click)="openAddEditDialog()"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_2708_1108)">
          <path
            d="M10 0.3125C4.64844 0.3125 0.3125 4.64844 0.3125 10C0.3125 15.3516 4.64844 19.6875 10 19.6875C15.3516 19.6875 19.6875 15.3516 19.6875 10C19.6875 4.64844 15.3516 0.3125 10 0.3125ZM15.625 11.0938C15.625 11.3516 15.4141 11.5625 15.1562 11.5625H11.5625V15.1562C11.5625 15.4141 11.3516 15.625 11.0938 15.625H8.90625C8.64844 15.625 8.4375 15.4141 8.4375 15.1562V11.5625H4.84375C4.58594 11.5625 4.375 11.3516 4.375 11.0938V8.90625C4.375 8.64844 4.58594 8.4375 4.84375 8.4375H8.4375V4.84375C8.4375 4.58594 8.64844 4.375 8.90625 4.375H11.0938C11.3516 4.375 11.5625 4.58594 11.5625 4.84375V8.4375H15.1562C15.4141 8.4375 15.625 8.64844 15.625 8.90625V11.0938Z"
            fill="black"
          />
        </g>
        <defs>
          <clipPath id="clip0_2708_1108">
            <rect width="20" height="20" fill="white" />
          </clipPath>
        </defs>
      </svg>
      Add question
    </button>
  </div>
  <table class="table text-center mt-4">
    <thead class="text-start">
      <th class="py-2 th1 border-2 rounded-start-2">Question title</th>
      <th class="py-2 border-white border-2">Question description</th>
      <th class="py-2 border-white border-2">Question difficulty level</th>
      <th class="py-2 th2 border-2 rounded-end-2">Actions</th>
    </thead>
    <tbody class="text-start">
      <tr class="mt-4" *ngFor="let item of allQuestions">
        <td class="border-2 tdd">{{ item.title }}</td>
        <td class="border-2 tdd">{{ item.description }}</td>
        <td class="border-2 tdd">{{ item.difficulty }}</td>
        <td class="border-2 tdd">
          <span class="rounded-4 py-1 px-3 cursor-pointer d-flex align-items-center justify-content-center">
            <button class="icons"  (click)="openAddEditDialog(item._id,true)"><i class="fa-solid fa-eye pe-2"></i></button>
            <button class="icons"  (click)="openAddEditDialog(item._id)"><i class="fa-solid fa-pen-to-square pe-2"></i></button>
            <button class="icons" (click)="openDeleteDialog(item._id,item.title,'question')"><i class="fa-solid fa-trash-can pe-2"></i></button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
