@use '../abstracts/' as *;
button{
 border: none;
 border-radius: 10px;
 transition: $main-transtion;
 &.white {
    background-color: #fff;
    color: $dark-color;
    padding: 0.7rem 0.5rem;
    border: $border-style transparent;
    .icon-circle{
        color: white;
        background-color: $dark-color;
        border-radius: 50%;}
    &:hover {
      background-color: transparent;
      color: #fff;
      border: $border-style #fff;
      .icon-circle{
        color:  $dark-color;
        background-color: #fff;
    }
    }
  }
}