@use '../abstracts/' as *;
button{
 border: none;
 transition: $main-transtion;
 &.white {
    border-radius: 10px;
    background-color: #fff;
    color: $dark-color;
    padding: 0.7rem 0.9rem;
    border: $border-style transparent;
    .icon-circle{
        color: white;
        background-color: $dark-color;
        border-radius: 50%;}
    &:hover {
      background-color: transparent;
      color: #fff;
      border: $border-style #fff;
      .icon-circle{
        color:  $dark-color;
        background-color: #fff;
    }
    }
  }

  &.dark{
    border-radius: 10px;
    background-color: #333333;
  }


  &.grey {
    width: 10.6rem;
    height: 7.5rem;
    background-color: $grey-color;
    border: $border-style transparent;
    border-radius: 10px;
    .icon{
        color: white;
        background-color: $dark-color;
        border-radius: 50%;
        font-size: 62px;
      }

    &:hover {
      border: $border-style $primary-color;
      .icon{
        color:  $primary-color;
        background-color: #fff;

    }
    }

    &--selected {
      width: 10.6rem;
      height: 7.5rem;
      background-color: $grey-color;
      border: $border-style $primary-color;
      border-radius: 10px;
      .icon{
        color:  $primary-color;
        background-color: #fff;
        font-size: 62px;
    }
    }

    @media screen and (max-width:768px) {
      width: 5rem;
      height: 4rem;
      .icon {
        font-size: 28px;
      }

      &--selected {
        width: 5rem;
        height: 4rem;
        .icon {
          font-size: 28px;
        }
      }
    }

  }

}





