@use "../abstracts/" as *;
button {
  border: none;
  transition: $main-transtion;
  &.white {
    border-radius: 10px;
    background-color: $white-color;
    color: $dark-color;
    padding: 0.7rem 0.9rem;
    border: $border-style transparent;
    .icon-circle {
      color: $white-color;
      background-color: $dark-color;
      border-radius: 50%;
    }
    &:hover {
      background-color: transparent;
      color: $white-color;
      border: $border-style $white-color;
      .icon-circle {
        color: $dark-color;
        background-color: $white-color;
      }
    }
  }

  &.dark {
    border-radius: 10px;
    background-color: #333333;
  }

  &.primary {
    background-color: $primary-color;
    width: 150px;
    height: 35px;
    top: 442px;
    left: 594px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
  }

  &.grey {
    width: 10.6rem;
    height: 7.5rem;
    background-color: $grey-color;
    border: $border-style transparent;
    border-radius: 10px;
    .icon {
      color: $white-color;
      background-color: $dark-color;
      border-radius: 50%;
      font-size: 62px;
    }

    &:hover {
      border: $border-style $primary-color;
      .icon {
        color: $white-color;
        background-color: $white-color;
      }
    }

    &--selected {
      width: 10.6rem;
      height: 7.5rem;
      background-color: $grey-color;
      border: $border-style $primary-color;
      border-radius: 10px;
      .icon {
        color: $primary-color;
        background-color: $white-color;
        font-size: 62px;
      }
    }

    @media screen and (max-width: 768px) {
      width: 5rem;
      height: 4rem;
      .icon {
        font-size: 28px;
      }

      &--selected {
        width: 5rem;
        height: 4rem;
        .icon {
          font-size: 28px;
        }
      }
    }
  }

  &.quiz-outline {
    //adjust to rmove the fixed stuff later
    width: 150px;
    height: 40px;
    top: 25px;
    left: 810px;
    gap: 0px;
    border-radius: 30px;
    border: 1px solid $grey-color;
    opacity: 0px;
    &:hover {
      background-color: $dark-color;
      color: $white-color;
      border: $border-style $white-color;
      .icon {
        fill: $white-color;
        color: $white-color;
        // background-color: $dark-color;
      }
      svg {
        path {
          fill: white;
          background-color: $dark-color;
        }
      }
    }

    &.large {
      width: 200px;
      height: 150px;
      top: 100px;
      left: 220px;
      gap: 0px;
      border-radius: 10px 10px 10px 10px;
      border: 1px 0px 0px 0px;
      opacity: 0px;
    }
  }
}
