@use '../abstracts/' as *;
.auth{
    background-color:$dark-color ;
    .auth-container{
        height:86vh;
    }
    .logo{
        img{

            width: 9%;
        }

    }
    .right-side{
      background-color:$main-color ;
      img{
        width: 70%;
      }
    }
    h4{
        color: $primary-color;
    }
    form{
        label{
            color: white;
        }
        .form-control::placeholder {
          color: white;
          opacity: 1;
        }
    }
    .border-radius {
      border-radius: 20px;
    }
}


@media screen and (max-width: 768px) {

  .formCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fullImage{
      display: none !important;
  }
}
