.not-found {

  .picture-not-found {
    position: fixed;
    right: 0;
    bottom: 0;
  }

  .page {
    font-size: 32px;
    font-weight: 400;
    color: $primary-color;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: space-between;
  }
}



@media screen and (max-width:1023px) {

  .layer{
      width: 110%;
      height: 70%;
  }
}

@media screen and (max-width:576px) {

  .layer{
      width: 150%;
      height: 70%;
  }
}
