<section class="big">
    <h2 class="text-success pt-3">Change Password </h2>
   <div class="row mt-5 container-fluid">
    <div class="col-md-12">
      <form action="" [formGroup]="changeForm" (ngSubmit)="changePass()">
        <label for="olpass" class="text-white">
            Old password
        </label>
        <div class="input-group my-2 text-white">
            <span
              class="input-group-text bg-transparent text-white border-end-0 border-3"
              id="basic-addon1"
              ><i class="fa-solid fa-key"></i
            ></span>
            <input
            formControlName="password"
            id="olpass"
              formControlName="password"
              [type]="hidePassword ? 'password' : 'text'"
              class="form-control bg-transparent text-white border-start-0 border-end-0 border-3"
              placeholder="Type your old password"
              aria-label="password"
              aria-describedby="basic-addon1"
            />
            <span
              class="input-group-text bg-transparent text-white border-start-0 border-3"
              id="basic-addon1"
            >
              <i
                (click)="hidePassword = !hidePassword"
                class="fa-regular cursor-pointer"
                [class]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
              ></i>
            </span>
          </div>
          <p class="text-danger" *ngIf="(changeForm.get('password')?.getError('required')&& changeForm.get('password')?.touched )">Password value is required</p>
          <p class="text-danger" *ngIf="changeForm.get('password')?.value!=''&& changeForm.get('password')?.getError('pattern')">password not valid</p>
          <label for="newpass" class="text-white mt-3">
            New password
        </label>
        <div class="input-group my-2 text-white">
            <span
              class="input-group-text bg-transparent text-white border-end-0 border-3"
              id="basic-addon1"
              ><i class="fa-solid fa-key"></i
            ></span>
            <input
            formControlName="password_new"
            id="newpass"
              formControlName="password_new"
              [type]="hidePassword1 ? 'password' : 'text'"
              class="form-control bg-transparent text-white border-start-0 border-end-0 border-3"
              placeholder="Type your new password"
              aria-label="password"
              aria-describedby="basic-addon1"
            />
            <span
              class="input-group-text bg-transparent text-white border-start-0 border-3"
              id="basic-addon1"
            >
              <i
                (click)="hidePassword1 = !hidePassword1"
                class="fa-regular cursor-pointer"
                [class]="hidePassword1 ? 'fa-eye-slash' : 'fa-eye'"
              ></i>
            </span>
          </div>
          <p class="text-danger" *ngIf="(changeForm.get('password_new')?.getError('required')&& changeForm.get('password_new')?.touched )">Password value is required</p>
          <p class="text-danger" *ngIf="changeForm.get('password_new')?.value!=''&& changeForm.get('password_new')?.getError('pattern')">password not valid</p>
          <button [disabled]="changeForm.invalid" class="white fw-bold my-5 cursor-pointer">Change <span class="icon-circle mx-1"><i class="fa-solid fa-check p-1"></i></span></button>

      </form>
      <p class="text-white text-end">
        Back to home?
        <a [routerLink]="isInstructor ? '/dashboard/instructor/home' : '/dashboard/student/home'">Click here</a>
      </p>
    </div>

   </div>
</section>
