<div class="container-fluid">
  <div class="row w-100">
    <div class="row">
      <div class="d-flex flex-column gap-2">
        <div class="p-3 main-border rounded-3">
          <div class="d-flex align-items-center justify-content-end">
        

          </div>

          <div class="col-md-12 ">
            <div class="d-flex flex-column gap-2">
              <div class="p-3 brd rounded-3">
                <div
                  class="mb-3 d-flex align-items-center justify-content-between"
                >
                  <h2 class="m-0">Students Without Group</h2>
                </div>

                <div class="row g-2">
                  <div
                    *ngFor="let student of paginatedStudentData"
                    class="col-md-6"
                  >
                    <div class="d-flex align-items-center justify-content-between p-2 ">
                      <article
                        class="d-flex align-items-center  overflow-hidden w-100 p-2"
                      >
                        <figure class="h-100 m-0 rounded-2">
                          <img [src]="" class="w-100" alt="" />
                        </figure>
                        <div
                          class="d-flex align-items-center gap-4 w-100 pe-3 "
                        >
                          <div class="d-flex flex-column gap-4 w-100 pe-3">
                            <div class="card-main-header">
                              <h4 class="m-0">
                                {{ student.first_name }} {{ student.last_name }}
                              </h4>
                              <div
                                class="card-details d-flex align-items-center gap-3"
                              >
                                <span> {{ student.status }}</span>
                                <span> | </span>
                                <span> {{ student.role }}</span>
                              </div>
                            </div>
                          </div>
                          <div class="card-icon">
                            <div class="actions">
                              <button class="edit">✏️</button>
                              <button class="delete">🗑️</button>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>
</div>
  <app-paginator
    [rowsPerPage]="[10, 20, 50]"
    [totalRecords]="totalRecords"
    [rows]="rows"
    (pageSizeChanged)="onPageSizeChange($event)"
    (pageNumberChanged)="onPageNumberChange($event)"
  ></app-paginator>
</div>
