<form [formGroup]="quizForm" (ngSubmit)="onSubmit(quizForm)">
  <div class="container">
    <div
      class="caption d-flex justify-content-between align-items-center border-bottom"
    >
      <div class="p-3">
        <h5 class="m-0 p-0 fw-bolder" *ngIf="!data._id">Set up a new quiz</h5>
        <h5 class="m-0 p-0" *ngIf="data._id">Edit quiz</h5>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div
          class="d-inline check p-4 border-start d-flex justify-content-center align-items-center"
        >
          <button
            type="submit"
            class="btn border-0 p-0"
            [disabled]="quizForm.invalid"
          >
            <span class="mx-1"><i class="fa-solid fa-check"></i></span>
          </button>
        </div>
        <div
          (click)="onNoClick()"
          class="d-inline p-4 close border-start d-flex justify-content-center align-items-center"
        >
          <span class="mx-1"><i class="fa-solid fa-xmark"></i></span>
        </div>
      </div>
    </div>
    <div class="row p-3 m-0">
      <p class="fw-bold">Details:</p>
      <div class="input-group col-12 my-2 p-0">
        <span class="input-group-text " id="basic-addon1">Title</span>
        <input
          type="text"
          formControlName="title"
          class="form-control p-2"
          aria-label="Title"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="col-md-4 col-12 p-0">
        <div class="input-group my-2 text-black">
          <span class="input-group-text" id="basic-addon1"
            >Duration <span class="fw-semibold px-1">(in minutes)</span></span
          >
          <select
            formControlName="duration"
            class="form-control bg-transparent text-black border-end-0 border-start-0"
            aria-label="Answer"
            aria-describedby="basic-addon1"
            (change)="onDurationChange($event)"
          >
            <option *ngFor="let duration of durations" class="text-black">
              {{ duration }}
            </option>
          </select>
          <span class="input-group-text border-start-0" id="basic-addon1">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
      </div>

      <div class="col-md-4 col-12 p-0">
        <div class="input-group my-2 px-1 text-black">
          <span class="input-group-text " id="basic-addon1"
            >No. of questions</span
          >
          <select
          formControlName="questions_number"
            class="form-control bg-transparent text-black border-end-0 border-start-0"
            aria-label="Question"
            aria-describedby="basic-addon1"
            (change)="onQuestionNumberChange($event)"
          >
            <option
              *ngFor="let questionNumber of numberOfQuestions"
              class="text-black"
              [value]="questionNumber"
            >
              {{ questionNumber }}
            </option>
          </select>
          <span class="input-group-text border-start-0" id="basic-addon1">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
      </div>

      <div class="col-md-4 col-12 p-0">
        <div class="input-group my-2 px-0 text-black">
          <span class="input-group-text " id="basic-addon1"
            >Score per question</span
          >
          <select
            formControlName="score_per_question"
            class="form-control bg-transparent text-black border-end-0 border-start-0"
            aria-label="Score per question"
            aria-describedby="basic-addon1"
            (change)="onScoreChange($event)"
          >
            <option
              *ngFor="let score of scorePerQuestion"
              class="text-black"
              [value]="score"
            >
              {{ score }}
            </option>
          </select>
          <span class="input-group-text border-start-0" id="basic-addon1">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
      </div>

      <div class="input-group col-12 my-2 px-0">
        <span class="input-group-text  py-4" id="basic-addon1"
          >Description</span
        >
        <input
          type="text"
          formControlName="description"
          class="form-control p-2"
          aria-label="Description"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="input-group col-12 my-2 p-0">
        <span class="input-group-text" id="basic-addon1">Schedule :</span>
        <input
          type="datetime-local"
          formControlName="schadule"
          class="form-control p-2"
          aria-label="schadule"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="col-md-4 col-12 p-0">
        <div class="input-group my-2 px-0 text-black">
          <span class="input-group-text " id="basic-addon1"
            >Difficulty</span
          >
          <select
            formControlName="difficulty"
            class="form-control bg-transparent text-black border-end-0 border-start-0"
            aria-label="Difficulty"
            aria-describedby="basic-addon1"
            (change)="onDifficultyChange($event)"
          >
            <option
              *ngFor="let difficulty of difficulties"
              class="text-black"
              [value]="difficulty"
            >
              {{ difficulty }}
            </option>
          </select>
          <span class="input-group-text border-start-0" id="basic-addon1">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
      </div>

      <div class="col-md-4 col-12 p-0">
        <div class="input-group my-2 px-1 text-black">
          <span class="input-group-text " id="basic-addon1"
            >Category type</span
          >
          <select
            formControlName="type"
            class="form-control bg-transparent text-black border-end-0 border-start-0"
            aria-label="Type"
            aria-describedby="basic-addon1"
            (change)="onCategoryChange($event)"
          >
            <option
              *ngFor="let category of categories"
              class="text-black"
              [value]="category"
            >
              {{ category }}
            </option>
          </select>
          <span class="input-group-text border-start-0" id="basic-addon1">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
      </div>

      <div class="col-md-4 col-12 p-0">
        <div class="input-group my-2 px-0 text-black">
          <span class="input-group-text " id="basic-addon1"
            >Group name</span
          >
          <select
            formControlName="group"
            class="form-control bg-transparent text-black border-end-0 border-start-0"
            aria-label="Group"
            aria-describedby="basic-addon1"
            (change)="onGroupChange($event)"
          >
            <option
              *ngFor="let group of allGroups"
              class="text-black"
              [value]="group._id"
            >
              {{ group.name }}
            </option>
          </select>
          <span class="input-group-text border-start-0" id="basic-addon1">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</form>
