<section>
  <div class="mt-4 me-4">
    <h4 class="">Create your account and start using QuizWiz!</h4>
    <div class="row">
      <div class="col-md-6 col-sm-4 col-6">
        <button class="grey d-flex flex-column align-items-center justify-content-center" (click)="login()">
          <i class="icon fa-solid fa-user-tie bg-transparent"></i>
          <span class="text-white">Sign in</span>
        </button>
      </div>

      <div class="col-md-6 col-sm-4 col-6">
        <button class="grey--selected d-flex flex-column align-items-center justify-content-center">
          <i class="icon fa-solid fa-user-plus bg-transparent"></i>
          <span class="text-white">Sign in</span>
        </button>
      </div>
    </div>
    <form action="" class="my-3">
      <div class="row">
        <div class="col-md-6">
          <label for="">Your first name</label>
          <div class="input-group my-2 text-white">
            <span
              class="input-group-text bg-transparent text-white"
              id="basic-addon1"
            >
              <i class="fa fa-id-card"></i>
            </span>
            <input
              type="text"
              class="form-control bg-transparent text-white"
              placeholder="Type your first name"
              aria-label="firstName"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col-md-6">
          <label for="">Your last name</label>
          <div class="input-group my-2 text-white">
            <span
              class="input-group-text bg-transparent text-white"
              id="basic-addon1"
            >
              <i class="fa fa-id-card"></i>
            </span>
            <input
              type="text"
              class="form-control bg-transparent text-white"
              placeholder="Your last name"
              aria-label="lastName"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>

        <div>
          <label>Your email address</label>
          <div class="input-group my-2 text-white">
            <span
              class="input-group-text bg-transparent text-white"
              id="basic-addon1"
              ><i class="fa-solid fa-envelope"></i
            ></span>
            <input
              type="text"
              class="form-control bg-transparent text-white"
              placeholder="Your email address"
              aria-label="email"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div>
          <label>Your role</label>
          <div class="input-group my-2 text-white">
            <span
              class="input-group-text bg-transparent text-white"
              id="basic-addon1"
              ><i class="fa-solid fa-envelope"></i
            ></span>
            <input
              type="text"
              class="form-control bg-transparent text-white"
              placeholder="Your role"
              aria-label="role"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>

        <div>
          <label>Password</label>
          <div class="input-group my-2 text-white">
            <span
              class="input-group-text bg-transparent text-white"
              id="basic-addon1"
              ><i class="fa-solid fa-key"></i
            ></span>
            <input
              type="text"
              class="form-control bg-transparent text-white"
              placeholder="Password"
              aria-label="password"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <button class="white fw-bold my-3">
          Sign Up
          <span class="icon-circle mx-1"
            ><i class="fa-solid fa-check p-1"></i
          ></span>
        </button>
      </div>
    </form>
  </div>
</section>
