<section class="d-flex flex-column justify-content-center">
    <div class="mt-4 me-4">
      <h4 class="">Forgot password !</h4>
      <div></div>
      <form action="" class="my-5" #forgeForm="ngForm">
        <label for="mail">Email address</label>
        <div class="input-group my-2 text-white">
          <span
            class="input-group-text bg-transparent text-white border-3" id="basic-addon1">
            <i class="fa fa-envelope"></i>
          </span>
          <input
            type="email"
            class="form-control bg-transparent text-white border-3"
            placeholder="Type your email"
            aria-label="Username"
            aria-describedby="basic-addon1"
            name="email"
            ngModel
            id="mail"
            #email="ngModel"
            required
            email
          />
        </div>
        <p class="text-danger m-0" *ngIf="email.errors && email.value != ''">email is invalid</p>
        <p class="text-danger m-0" *ngIf="email.touched && email.value == ''">email is required</p>
        <button [disabled]="email.value == ''" class="white fw-bold my-5 cursor-pointer" routerLink="../reset-password"(click)="forgetPass(forgeForm)">Send email <span class="icon-circle mx-1"><i class="fa-solid fa-check p-1"></i></span></button>
      </form>

      <p class="text-white text-end">
        Back to login?
        <a [routerLink]="'/auth/login'">Click here</a>
      </p>
    </div>
  </section>
