




<div class="row my-3">
  <div class="col-12 my-2 d-flex justify-content-between align-items-center">
      <ul class="d-flex gap-2 m-0 align-items-center ">
          <li *ngFor="let routing of studentsRouting; let last = last" routerLinkActive="active-route"
              [routerLinkActiveOptions]="{ exact: true }">
              <a [routerLink]="routing.url" *ngIf="!last"> {{ routing.label }} </a>

             
          </li>
      </ul>
 

</div>

  <div class="col-12">
      <div class="p-5 main-border rounded-3 main-box-shadow">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>


