@import '../../../../assets/styles/layout';
li {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    transition: 0.3s linear;
    border-radius: 0.25rem;
list-style: none;    

    a {
        color: #000;
        text-decoration: none;

    }

    &.active-route {
        background-color: #000;
        border-radius: 5px;
        font-weight: 600;

        a {
            color: #fff;
        }
    }

    button {
        background-color: #000;

        &:hover {
            background-color: #000;
        }
    }
}
// $dark-blue-color: #0D1321;
// $light-yellow-color: #C5D86D;
// $main-white-color: #fff;
// $main-border-color:gainsboro;
// .brd{
//   border: 1px solid $main-border-color;
//     border-radius: 10px;
// }
// article {
//     border: 1px solid $main-border-color;
//     border-radius: 10px;
  
//     .card-student, .card-icon {
//       i {
//         width: 20px;
//         height: 20px;
//         background-color: $light-yellow-color;
//         color: $main-white-color;
//         font-size: 12px;
//         padding: 10px;
//         border-radius: 50%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//       }
//     }
//     .main-border {
//       border: 1px solid $main-border-color;
//     }
//     .card-icon {
//       i {
//         background-color: $dark-blue-color;
//       }
//     }
  
//   }