@import "../abstracts/variables";

.border-nav {
  height: 5rem; //remove later
  border-bottom: 1px solid #00000033;

  .header-nav {
    border-right: 1px solid #00000033;
  }

  .icon-nav {
    height: 100%;
    width: 100px;
    border-right: 1px solid #00000033;
    border-left: 1px solid #00000033;
    border-bottom: 1px solid #00000033;
  }

  .user-nav {
    height: 5rem; //remove later

    .role {
      color: $primary-color;
    }
  }
}
