
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    padding: 25px;
    border-bottom: 1px solid #00000033;  
    display:flex;
    a{
      text-decoration: none;
      display:flex;
      align-items: center;
      color:#000;
      font-weight: bold;
      span{
        display:block;
        transition: 0.4s;
        &:first-of-type{
          margin-right: 10px;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          background-color: #FFEDDF;
          display: flex;
          justify-content: center;
          align-items: center;

          svg{
            fill: #000;
            transition: 0.4s;
          }
        }
      }
    }
    &:hover{
      .icon{
        svg{
          fill:#FFEDDF !important
        }
        background-color: #000 !important;
      }
    }
  }
} 

.active{
  border-right: 3px solid #000;
  .icon{
    svg{
      fill:#FFEDDF !important
    }
    background-color: #000 !important;
  }
}
#sideLink{
  .btn:focus{
      box-shadow: none I !important;
  }
  
  .btn:hover{
      border-color: transparent !important;
  }
  .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
      --bs-offcanvas-width: 315px;
  }
  .close{
      font-size: 24px;
      transition: 0.5s;
      &:hover{
          transform: rotate(180deg);
      }
  }
}
@media (min-width:768px) {
  #sideLink{
    display: none;
  }
  }
@media (max-width:1200px) {
  .sidebar{
    ul{
      li{
        display:flex;
        align-items: center;
        // justify-content: center;
    a{
  span{
    &:first-of-type{
      width: 40px !important;
      height: 40px !important;
      padding: 10px;
    }
  }
}
}
    }
  }
  }
@media (max-width:767px) {
  .sidebar{
    display: none;
  }
  }