<div class="container brd">
    <div class="header">
        <h1>Groups list</h1>
        <button (click)="openAddDialog(true)"
        class="quiz-outline fw-bold d-flex justify-content-center align-items-center me-3 gap-1 m-3"
      > + Add Group</button>

    </div>
    <div class="groups-list ">
         <div *ngFor="let group of groupList" >
        <div class="group">
            <h2>Group : {{group.name}}</h2>
            <p>No. of students : {{group.students.length}}</p>
            <div class="actions">
                <button class="edit" (click)="openEditDailog(group._id , true)">✏️</button>
                <button class="delete" (click)="openDeleteDailog(group._id)">🗑️</button>
            </div>
        </div>
       
    </div>
    </div>
   
    <div class="pagination ">
        <span>... 1 2 3 ...</span>
    </div>
</div>