@import '../../../assets/styles/abstracts/variables';

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  border-radius: 10px;
  height: 100%;
  img {
    width: 60% !important;
  }
}
