<section class="auth vh-100 overflow-auto">
    <div class="auth-container m-5 ">
      <div class="row h-100">
        <div class="col-md-7">
         <figure class="logo">
          <img class="img-fluid w-25" src="../../../assets/images/Logo-white.svg" alt="">
         </figure>
          <div class="formCenter">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="col-md-5  fullImage  h-100">
         <div class="right-side h-100 text-center d-flex justify-content-center align-items-center border-radius">
            <img class="img-fluid" src="../../../assets/images/Auth Image.svg" alt="">
         </div>
        </div>
      </div>


    </div>

</section>

