<form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
    <div
      class="caption d-flex justify-content-between align-items-center border-bottom"
    >
      <div class="p-3">
        <h5 class="m-0 p-0 fw-bolder">{{title}}</h5>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div
        *ngIf="!data.view"
          class="d-inline check p-4 border-start d-flex justify-content-center align-items-center"
        >
          <button
            type="submit"
            class="btn border-0 p-0"
            [disabled]="addEditForm.invalid"
          >
            <span class="mx-1"><i class="fa-solid fa-check"></i></span>
          </button>
        </div>
        <div
          (click)="onNoClick()"
          class="d-inline p-4 close border-start d-flex justify-content-center align-items-center"
        >
          <span class="mx-1"><i class="fa-solid fa-xmark"></i></span>
        </div>
      </div>
    </div>
    <div class="row p-3 m-0">
      <p class="fw-bold">Details:</p>
      <div class="input-group col-12 my-2 px-1">
        <span class="input-group-text" id="basic-addon1">Title</span>
        <input
          type="text"
          [value]="questionDetails.title"
          formControlName="title"
          class="form-control p-2"
          aria-label="Title"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="input-group col-12 my-2 px-1">
        <span class="input-group-text py-4" id="basic-addon1"
          >Description</span
        >
        <input
          type="text"
          [value]="questionDetails.description"
          formControlName="description"
          class="form-control p-2"
          aria-label="Description"
          aria-describedby="basic-addon1"
        />
      </div>

      <div formGroupName="options" class="row p-0 m-0">
        <div class="col-md-6 col-12 my-2 px-1">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">A</span>
            <input
              type="text"
              formControlName="A"
              class="form-control p-2"
              aria-label="Option A"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col-md-6 col-12 my-2 px-1">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">B</span>
            <input
              type="text"
              formControlName="B"
              class="form-control p-2"
              aria-label="Option B"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col-md-6 col-12 my-2 px-1">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">C</span>
            <input
              type="text"
              formControlName="C"
              class="form-control p-2"
              aria-label="Option C"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col-md-6 col-12 my-2 px-1">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">D</span>
            <input
              type="text"
              formControlName="D"
              class="form-control p-2"
              aria-label="Option D"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12 p-0">
        <div class="input-group my-2 px-1 text-black">
          <span class="input-group-text" id="basic-addon1">Answer</span>
          <select
            formControlName="answer"
            class="form-control bg-transparent text-black border-end-0 border-start-0"
            aria-label="Answer"
            aria-describedby="basic-addon1"
            (change)="onAnswerChange($event)"
          >
            <option
              *ngFor="let answer of answers"
              class="text-black"
              [value]="answer"
            >
              {{ answer }}
            </option>
          </select>
          <span class="input-group-text border-start-0" id="basic-addon1">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
      </div>

      <div class="col-md-4 col-12 p-0">
        <div class="input-group my-2 px-1 text-black">
          <span class="input-group-text" id="basic-addon1"
            >Category type</span
          >
          <select
            formControlName="type"
            class="form-control bg-transparent text-black border-end-0 border-start-0"
            aria-label="Type"
            aria-describedby="basic-addon1"
            (change)="onCategoryChange($event)"
          >
            <option
              *ngFor="let category of categories"
              class="text-black"
              [value]="category"
            >
              {{ category }}
            </option>
          </select>
          <span class="input-group-text border-start-0" id="basic-addon1">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
      </div>

      <div class="col-md-4 col-12 p-0">
        <div class="input-group my-2 px-1 text-black">
          <span class="input-group-text" id="basic-addon1"
            >Difficulty</span
          >
          <select
            formControlName="difficulty"
            class="form-control bg-transparent text-black border-end-0 border-start-0"
            aria-label="Difficulty"
            aria-describedby="basic-addon1"
            (change)="onDifficultyChange($event)"
          >
            <option
              *ngFor="let difficulty of difficulties"
              class="text-black"
              [value]="difficulty"
            >
              {{ difficulty }}
            </option>
          </select>
          <span class="input-group-text border-start-0" id="basic-addon1">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
      </div>
    </div>

</form>




