<section>
  <div class="mt-4 me-4">
    <h4 class="">Continue your learning journey with QuizWiz!</h4>
    <div class="my-5">
      <button class="me-5 dark" [ngClass]="{'active': !isActiveSignUp,'de-active':isActiveSignUp}" (click)="toggleSignButton()">
        
          <span class="d-block ">
            <mat-icon matPrefix class=" w-100 h-100"> person</mat-icon>
          </span>
          <span class="text-white">sign in</span>
       
        
      </button>
      <button class="dark "(click)="toggleSignButton()"  [ngClass]="{'active': isActiveSignUp,'de-active':!isActiveSignUp}">
        <span>
          <mat-icon matPrefix class=" w-100 h-100"> person_add</mat-icon>
        </span>

        <span class="d-block text-white">sign up</span>
      </button>
    </div>
    <form action="" class="my-3" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
      <label for="">Registered email address</label>
      <div class="input-group my-2 text-white">
        <span
          class="input-group-text bg-transparent text-white"
          id="basic-addon1"
        >
          <i class="fa fa-envelope"></i>
        </span>
        <input
          type="text"
          class="form-control bg-transparent text-white"
          formControlName="email"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>

      <label>Password</label>
      <div class="input-group my-2 text-white">
        <span
          class="input-group-text bg-transparent text-white"
          id="basic-addon1"
          ><i class="fa-solid fa-key"></i
        ></span>
        <input
          type="text"
          class="form-control bg-transparent text-white"
          formControlName="password"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <button class="white fw-bold my-3">
        Sign In
        <span class="icon-circle mx-1"
          ><i class="fa-solid fa-check p-1"></i
        ></span>
      </button>
    </form>
  </div>
</section>
