<section>
  <div class="mt-4 me-4">
    <h4 class="">Continue your learning journey with QuizWiz!</h4>
    <div class="my-5 d-flex justify-content-start gap-4">
      <button
      class="grey--selected d-flex flex-column align-items-center justify-content-center"
        type="button"
      >
        <i class="icon fa-solid fa-user-tie bg-transparent"></i>
        <span class="text-white">Sign in</span>
      </button>
      <button
      class="grey d-flex flex-column align-items-center justify-content-center mx-4"
        type="button"
        (click)="register()"
      >
        <i class="icon fa-solid fa-user-plus bg-transparent"></i>
        <span class="text-white">Sign up</span>
      </button>
    </div>
    <form
      action=""
      class="my-3"
      [formGroup]="loginForm"
      (ngSubmit)="onLogin(loginForm)"
    >
      <div>
        <label for="">Registered email address</label>
        <div class="input-group my-2 text-white">
          <span
            class="input-group-text bg-transparent text-white border-3"
            id="basic-addon1"
          >
            <i class="fa fa-envelope"></i>
          </span>
          <input
            type="text"
            class="form-control bg-transparent text-white border-3"
            formControlName="email"
            placeholder="Type your email"
            aria-label="email"
            aria-describedby="basic-addon1"
          />
        </div>
        <ng-container
          *ngIf="(email?.touched || email?.value) && email?.errors"
          class="invalid"
        >
          <p class="text-danger" *ngIf="email?.getError('required')">
            Email is Required
          </p>
          <p class="text-danger" *ngIf="email?.getError('email')">
             Invalid email
          </p>
        </ng-container>
      </div>
      <div>
        <label>Password</label>
        <div class="input-group my-2 text-white">
          <span
            class="input-group-text bg-transparent text-white  border-3"
            id="basic-addon1"
            ><i class="fa-solid fa-key"></i
          ></span>
          <input
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
            class="form-control bg-transparent text-white   border-3"
            placeholder="Type your password"
            aria-label="password"
            aria-describedby="basic-addon1"
          />
          <span
            class="input-group-text bg-transparent text-white border-3"
            id="basic-addon1"
          >
            <i
              (click)="hidePassword = !hidePassword"
              class="fa-regular"
              [class]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"
            ></i>
          </span>
        </div>

        <ng-container
        *ngIf="(password?.touched || password?.value) && password?.errors"
        class="invalid"
      >
        <p class="text-danger" *ngIf="password?.getError('required')">
          password is Required
        </p>
        <p class="text-danger" *ngIf="password?.getError('pattern')">
           Invalid password
        </p>
      </ng-container>
      </div>

      <button
      class="white fw-bold my-5 cursor-pointer"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Sign In
        <span class="icon-circle mx-1"
          ><i class="fa-solid fa-check p-1"></i
        ></span>
      </button>
      <div class=" text-end">
        <a class="text-white text-decoration-none" routerLink="../forget-password">Forgot Password?<span class="primary-color"> click here</span></a>

      </div>
    </form>
  </div>
</section>
