<section class="not-page not-found vh-100 w-100" >
  <div class="container h-100 w-100">
    <div class="row d-flex justify-content-between h-100 align-items-center">
      <div class="col-md-4">
        <div class="content">
          <h2 class="font-weight-bold">Oops...</h2>
          <h2 class="page">Page Not Found</h2>
          <p>
            This Page doesn’t exist or was removed! We suggest you go back to home.
          </p>
        </div>

          <button class="primary w-100 mt-4 p-2" routerLink="/dashboard/instructor/home">
                <i class="fa-solid fa-arrow-left-long me-1 "></i>
                Back to Home
        </button>
      </div>

      <div class="col-md-8 ">
        <img class="d-flex picture-not-found layer" src="../../../../assets/images/Default-img.png" alt="">
      </div>
    </div>
  </div>
</section>
