
$primary-color:#C5D86D;
$main-color:#FFEDDF;
$dark-color:#0D1321;
$border-style:2px solid;
$main-transtion: 0.5s ease;
$grey-color: #333333;
$orange-color: #FB7C19;
$dark-red:rgb(187, 14, 14);
$white-color: #fff;
